@layer reset, base, tokens, recipes, utilities;

@layer base {
  :root {
    --font-cinzel: "Cinzel Variable";
    --font-silkscreen: Silkscreen;
  }

  :root {
    font-family: "Inter Variable", system-ui, sans-serif;
  }
}

