<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <PhoenixVite.Components.assets
      names={["js/app.js", "css/app.css"]}
      manifest={{:dian, "priv/static/.vite/manifest.json"}}
      dev_server={PhoenixVite.Components.has_vite_watcher?(DianWeb.Endpoint)}
      to_url={fn p -> static_url(@conn, p) end}
    />
  </head>
  <body>
    {@inner_content}
  </body>
</html>
